<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
    <div class="wrapper2 fadeInDown">
  
  <div id="formContent">
  <div class="centrado">
    <!-- Icono -->   
     
    <h1 class="dificultad">Seleccionar dificultad</h1>
      <div id="EJEMP">
        <form action="/facil" method="GET">
          <input type="submit" class="fadeIn fourth btn-xs" value="FACIL"></form>
        <form action="/medio" method="GET">
          <input type="submit" class="fadeIn five " value="INTERMEDIO"></form>
        <form action="/dificil" method="GET">
          <input  type="submit" class="fadeIn five " value="DIFICIL"></form>
    </div>
    </form>
 </div>
 </div>
 