<form action="/login" method="POST" class="container-sm" id="form1"></form>
<form action="/admin" method="POST" class="container-sm" id="administrador"></form>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="center">

    <!-- Icono -->
    <h1>SUSTENIGMA</h1>
    <div class="fadeIn first">
     <center> <img  src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52758/globe-showing-americas-emoji-clipart-md.png" id="icon" alt="User Icon" /></center>
    </div>
   
    <!-- Login Form -->
    <form action="/regist" method="POST">
      <input type="text" id="usuarioId" class="fadeIn second " name="usuarioId" placeholder="Usuario">
      <input type="text" id="password" class="fadeIn third btn-xs" name="password" placeholder="Contraseña">
      <div id="DIV">
        <input type="button" onclick="login()" class="fadeIn fourth btn-xs" value="Ingrese">
        <input type="submit" class="fadeIn fourth btn-xs" value="Registrese">
    </div>
    </form>
</div>