
<h1 id="tituloadmin">SUSTENIGMA</h1>
<div class="ADMINXFAVOR">
    <img id="IMAGENADMIN"align="left" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52758/globe-showing-americas-emoji-clipart-md.png"  id="icon111" alt="iconadmin" class="iconadmin"/></center>
    <div class="DIVADMIN1">
        <h3 class="bienveadmin">Bienvenido {{nombre}} administrador!</h3>
        <p>Seleccione que desea hacer...</p>
        <div ID="ADMINFUNCIONA">
        <form action="/editarpreg" method="GET">
            <button class="button">Editar</button> 
        </form>
        <form action="/eliminarpreg" method="GET">
            <button class="button">Eliminar</button> 
        </form>
        <form action="/agregarpreg" method="GET">
            <button class="button">Agregar</button> 
        </form>
    </div>
</div>